extends layout.pug
block content
        section#content
        br
        //- searcch results will be sitting here
        span Result(s): #{name} 
        a(href='#') view profile
        
        
